<?if $(sys.BUILDARCH)="x86"?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?elseif $(sys.BUILDARCH)="x64"?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?elseif $(sys.BUILDARCH)="arm64"?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else?>
    <?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
            Id="*"
            Name="Cứt Truyện"
            UpgradeCode="{{upgrade_code}}"
            Language="!(loc.TauriLanguage)"
            Manufacturer="{{manufacturer}}"
            Version="{{version}}">

        <Package Id="*"
                 Keywords="Installer"
                 InstallerVersion="450"
                 Languages="0"
                 Compressed="yes"
                 InstallScope="perMachine"
                 SummaryCodepage="!(loc.TauriCodepage)"/>

        <!-- https://docs.microsoft.com/en-us/windows/win32/msi/reinstallmode -->
        <!-- reinstall all files; rewrite all registry entries; reinstall all shortcuts -->
        <Property Id="REINSTALLMODE" Value="amus" />

        <!-- Auto launch app after installation, useful for passive mode which usually used in updates -->
        <Property Id="AUTOLAUNCHAPP" Secure="yes" />
        <!-- Property to forward cli args to the launched app to not lose those of the pre-update instance -->
        <Property Id="LAUNCHAPPARGS" Secure="yes" />

        {{#if allow_downgrades}}
            <MajorUpgrade Schedule="afterInstallInitialize" AllowDowngrades="yes" />
        {{else}}
            <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" AllowSameVersionUpgrades="yes" />
        {{/if}}

        <InstallExecuteSequence>
            <RemoveShortcuts>Installed AND NOT UPGRADINGPRODUCTCODE</RemoveShortcuts>
        </InstallExecuteSequence>

        <Media Id="1" Cabinet="app.cab" EmbedCab="yes" />

        {{#if banner_path}}
        <WixVariable Id="WixUIBannerBmp" Value="{{banner_path}}" />
        {{/if}}
        {{#if dialog_image_path}}
        <WixVariable Id="WixUIDialogBmp" Value="{{dialog_image_path}}" />
        {{/if}}
        {{#if license}}
        <WixVariable Id="WixUILicenseRtf" Value="{{license}}" />
        {{/if}}

        <Icon Id="ProductIcon" SourceFile="{{icon_path}}"/>
        <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
        <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />      <!-- Remove repair -->
        <SetProperty Id="ARPNOMODIFY" Value="1" After="InstallValidate" Sequence="execute"/>

        {{#if homepage}}
        <Property Id="ARPURLINFOABOUT" Value="{{homepage}}"/>
        <Property Id="ARPHELPLINK" Value="{{homepage}}"/>
        <Property Id="ARPURLUPDATEINFO" Value="{{homepage}}"/>
        {{/if}}

        <!-- initialize with previous InstallDir -->
        <Property Id="INSTALLDIR">
            <RegistrySearch Id="PrevInstallDirReg" Root="HKCU" Key="Software\\{{manufacturer}}\\Cứt Truyện" Name="InstallDir" Type="raw"/>
        </Property>

        <!-- launch app checkbox -->
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.LaunchApp)" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
        <CustomAction Id="LaunchApplication" Impersonate="yes" FileKey="Path" ExeCommand="[LAUNCHAPPARGS]" Return="asyncNoWait" />

        <UI>
            <!-- launch app checkbox -->
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>

            <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

            {{#unless license}}
            <!-- Skip license dialog -->
            <Publish Dialog="WelcomeDlg"
                     Control="Next"
                     Event="NewDialog"
                     Value="InstallDirDlg"
                     Order="2">1</Publish>
            <Publish Dialog="InstallDirDlg"
                     Control="Back"
                     Event="NewDialog"
                     Value="WelcomeDlg"
                     Order="2">1</Publish>
            {{/unless}}
        </UI>

        <UIRef Id="WixUI_InstallDir" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="DesktopFolder" Name="Desktop">
                <Component Id="ApplicationShortcutDesktop" Guid="*">
                    <Shortcut Id="ApplicationDesktopShortcut" Name="Cứt Truyện" Description="Chạy Cứt Truyện" Target="[!Path]" WorkingDirectory="INSTALLDIR" />
                    <RemoveFolder Id="DesktopFolder" On="uninstall" />
                    <RegistryValue Root="HKCU" Key="Software\\{{manufacturer}}\\Cứt Truyện" Name="Desktop Shortcut" Type="integer" Value="1" KeyPath="yes" />
                </Component>
            </Directory>
            <Directory Id="$(var.PlatformProgramFilesFolder)" Name="PFiles">
                <Directory Id="INSTALLDIR" Name="Cứt Truyện"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Cứt Truyện"/>
            </Directory>
        </Directory>

        <DirectoryRef Id="INSTALLDIR">
            <Component Id="RegistryEntries" Guid="*">
                <RegistryKey Root="HKCU" Key="Software\\{{manufacturer}}\\Cứt Truyện">
                    <RegistryValue Name="InstallDir" Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
                </RegistryKey>
                <!-- Change the Root to HKCU for perUser installations -->
                {{#each deep_link_protocols as |protocol| ~}}
                <RegistryKey Root="HKLM" Key="Software\Classes\\{{protocol}}">
                    <RegistryValue Type="string" Name="URL Protocol" Value=""/>
                    <RegistryValue Type="string" Value="URL:Cứt Truyện protocol"/>
                    <RegistryKey Key="DefaultIcon">
                        <RegistryValue Type="string" Value="&quot;[!Path]&quot;,0" />
                    </RegistryKey>
                    <RegistryKey Key="shell\open\command">
                        <RegistryValue Type="string" Value="&quot;[!Path]&quot; &quot;%1&quot;" />
                    </RegistryKey>
                </RegistryKey>
                {{/each~}}
            </Component>
            <Component Id="Path" Guid="{{path_component_guid}}" Win64="$(var.Win64)">
                <File Id="Path" Source="{{app_exe_source}}" KeyPath="yes" Checksum="yes"/>
                {{#each file_associations as |association| ~}}
                {{#each association.ext as |ext| ~}}
                <ProgId Id="Cứt Truyện.{{ext}}" Advertise="yes" Description="{{association.description}}">
                    <Extension Id="{{ext}}" Advertise="yes">
                        <Verb Id="open" Command="Open with Cứt Truyện" Argument="&quot;%1&quot;" />
                    </Extension>
                </ProgId>
                {{/each~}}
                {{/each~}}
            </Component>
            {{#each binaries as |bin| ~}}
            <Component Id="{{ bin.id }}" Guid="{{bin.guid}}" Win64="$(var.Win64)">
                <File Id="Bin_{{ bin.id }}" Source="{{bin.path}}" KeyPath="yes"/>
            </Component>
            {{/each~}}
            {{#if enable_elevated_update_task}}
            <Component Id="UpdateTask" Guid="C492327D-9720-4CD5-8DB8-F09082AF44BE" Win64="$(var.Win64)">
                <File Id="UpdateTask" Source="update.xml" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="UpdateTaskInstaller" Guid="011F25ED-9BE3-50A7-9E9B-3519ED2B9932" Win64="$(var.Win64)">
                <File Id="UpdateTaskInstaller" Source="install-task.ps1" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="UpdateTaskUninstaller" Guid="D4F6CC3F-32DC-5FD0-95E8-782FFD7BBCE1" Win64="$(var.Win64)">
                <File Id="UpdateTaskUninstaller" Source="uninstall-task.ps1" KeyPath="yes" Checksum="yes"/>
            </Component>
            {{/if}}
        </DirectoryRef>

        <Feature Id="ProductFeature" Title="Cứt Truyện" Level="1">
            <ComponentRef Id="RegistryEntries"/>
            <ComponentRef Id="Path"/>
            {{#each binaries as |bin| ~}}
            <ComponentRef Id="{{ bin.id }}"/>
            {{/each~}}
            {{#if enable_elevated_update_task}}
            <ComponentRef Id="UpdateTask"/>
            <ComponentRef Id="UpdateTaskInstaller"/>
            <ComponentRef Id="UpdateTaskUninstaller"/>
            {{/if}}
        </Feature>

        <CustomAction Id="CheckWebView2"
                      FileKey="Path"
                      ExeCommand="[SystemFolder]regsvr32.exe /s /n /i:[INSTALLDIR]WebView2Loader.dll"
                      Return="check"/>

        <!-- If WebView2 is needed, install it -->
        <CustomAction Id="DownloadWebView2"
                      FileKey="Path"
                      ExeCommand="[SystemFolder]regsvr32.exe /s /n /i:[INSTALLDIR]WebView2Loader.dll"
                      Return="ignore" />

        <!-- Call the download action during installation -->
        <InstallExecuteSequence>
            <Custom Action="DownloadWebView2" After="InstallFinalize" />
        </InstallExecuteSequence>

        <CustomAction Id="InstallWebView2"
                      FileKey="Path"
                      ExeCommand="[INSTALLDIR]WebView2Loader.dll"
                      Return="check"/>

        <InstallExecuteSequence>
            <Custom Action="InstallWebView2" After="InstallFinalize" />
        </InstallExecuteSequence>

        <!-- Call WebView2 action during uninstallation -->
        <CustomAction Id="UninstallWebView2"
                      FileKey="Path"
                      ExeCommand="[INSTALLDIR]WebView2Loader.dll"
                      Return="check"/>
        <InstallExecuteSequence>
            <Custom Action="UninstallWebView2" After="InstallFinalize"/>
        </InstallExecuteSequence>

    </Product>
</Wix>
