[Desktop Entry]
Categories={{categories}}
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec={{exec}}
Icon={{icon}}
Name=Cứt Truyện
Terminal=true
Type=Application
{{#if mime_type}}
MimeType={{mime_type}}
{{/if}}
