@import 'themes/themes.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
	:root {
		--radius: 0.5rem;
		--navbar-height: 2.25rem;
		scroll-padding: 0;
	}

	* {
		@apply select-none border-border text-foreground;
	}
}
